$primaryG:#12A67C;
$dark-green:#0E442C;
$light-green:#92C893;
$yellow-CTA:#FFB621;
$black:#323433;
$white:#F5FFFC;
$blue:#6F93EE;
$orange:#D37B4D;
$pink:#D34D9D;
//mentor-path.js styling
.path-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.path-header h2{
    font-family: "Mulish", sans-serif;
    font-size: 30px;
    padding-top: 30px;
}
.path-header h4{
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    padding-top: 10px;
    color: #656565;
}
.green-btn{
    font-size: 16px !important;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: $light-green;
    color:$white;
}
.done-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
