.onBoardingPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}

#onboardingPath{
    margin-top: 10px;;
}
.onBoardingTitle{
    margin-top: 50px;
    text-align: center;
    width: 75%;

}
.resourceText{
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px
}
.resourceLink{
    font-size: 16px;
    text-align: center;
    margin: 0px !important;
    width: 25%;
}
.onBoardingCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 5px 10px
}
.gameOfLifeResource{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.transitionCard{
    font-family: Nunito;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 300px;
    text-align: center;
    padding: 5px 10px;
    background-color: green;
    color: white;
}
.stick{
    margin-top: 0px;
    height: 100px; 
    width: 20px;
    background-color: rgb(250, 202, 131);

}
.onboardingButton{
    margin-bottom: 10px;
}