$primaryG:#12A67C;
$dark-green:#0E442C;
$light-green:#92C893;
$yellow-CTA:#FFB621;
$black:#323433;
$white:#F5FFFC;
$blue:#6F93EE;
$orange:#D37B4D;
$pink:#D34D9D;
//org profile 
.leftBar{
    padding-left: 20px;
    padding-top: 24px;
    background-color: #92C893;
    height: 100vh;
    width: 500px;
}
.boldtwentyfour{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;;
}
.update{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.profilePageContainer{
    display: flex;
    flex-direction: row;
}
.eventsContainer{
    padding-left: 25px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}
.badgesContiner{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.profileBar.underlineLight{
    width: 275px;
}
.EventsBlock{
    padding-top: 25px;
}
.connectionsRow{
    font-family: Mulish;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex: 0 0 auto;
    overflow:scroll;
    flex-wrap: wrap;

}
.eventsRow{
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    width: 900px;
    font-family: Mulish;
    
}
.badgeCircle{
    border-radius: 50%;
    background: black;
    width: 75px;
    height: 75px;
    padding-top: 30px;
}
.badgeCircleLit{
    border-radius: 50%;
    background: $blue;
    width: 75px;
    height: 75px;
    padding-top: 10px;
}
.badgeCircleOff{
    border-radius: 50%;
    background: rgb(177, 177, 177);
    width: 75px;
    height: 75px;
    padding-top: 10px;
}
.badgeRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-right: 20px;
}
.badge{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    flex-wrap: wrap;
    margin-left: 20px;
    padding:0;
}
// horizontal scroll with flexbox found from: jenniferbland.com/how-to-implement-horizontal-scrolling-using-flexbox/
.eventsRow::-webkit-scrollbar {display: none;}

.connectionsRow::-webkit-scrollbar {display: none;}

.email-btn{
    text-decoration: none;
    background-color: $dark-green;
    color: $white;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    padding-left: 15px;
    padding-right:15px;
    height: fit-content;
    border-style: none;
    border-radius: 20px;
    width: fit-content;
}
.so-container{
    margin-top: 50px;
}
.messagedCard{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}