.resourcePage{
    margin-top: 25px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resourceSpecificInput{
    width: 400px;
    margin-top: 15px !important;
}

.submitResourceForm{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.submitResourceBtn{
    margin-top: 25px;
}