$primaryG:#12A67C;
$dark-green:#0E442C;
$light-green:#92C893;
$yello-CTA:#FFB621;
$black:#323433;
$white:#F5FFFC;
$blue:#6F93EE;
$pink:#D37B4D;

body, html {
    font-family: "Nunito", sans-serif !important;
    height: 100%;
    color:black;
    background-color: white;
    padding:0;
    margin:0;
}

//for rendering the left and right side 
// elements on the navbar in the same line 
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}


//nav bar bg and text elems
#navBarContainer{
    background-color: $primaryG;
    height:10vh;
}
  
.navTab{
    padding:10px;
    text-align: center;
}

//For underline navbar animation left-right
a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:$yello-CTA;
    text-decoration: none;
}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

//flex boxes for the nav elems
#navRight{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top:20px;
}

#title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top:20px;
    margin-left: 0px;
}

.navLinkButton{
    text-decoration: none;
    color:black;
    font-family: 'Nunito', sans-serif;
    height: fit-content;
    font-size: .5em !important;

}

