@import "~bootstrap/scss/bootstrap";
// @import '~mdb-ui-kit/css/mdb.min.css';
$primaryG:#12A67C;
$dark-green:#0E442C;
$light-green:#92C893;
$yellow-CTA:#FFB621;
$black:#323433;
$white:#F5FFFC;
$blue:#6F93EE;
$pink:#D34D9D;

body, html {
    color: #000000;
    background: white;
    height: 100%;
}

// sign up org styling
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
}
#signUpSpecificContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.signUpSpecificInput{
    margin: 15px !important;
    width: 600px !important;
}
.signUpSpecificButton{
    margin: 15px !important;
    width: fit-content;
    height: fit-content;
}

// mentor.js styling
.mentor-page{
    display: flex;
    flex-direction: column;
}
.mentor-header{
    display: flex;
    flex-direction: row;
    background-color: #6F93EE;
    height: 100%;
    padding: 20px;
}
.mh-text{
    margin-top: 300px;
    margin-left: 20px;
    color: $white;
}
.mh-text h1{
    font-family: 'Mulish', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}
.mh-text p{
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
}
#mentor-blobs{
    padding-top: 100px;
    padding-left: 500px;
}
.mentor-container{
    padding: 30px;
}
.mentor-container h1{
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-weight: 700;
}
.mentor-container h2{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: $black;
}
.mentor-container h3{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.mentor-container h4{
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}
.mentor-container p{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    padding-top: 20px;
}
.yellow-btn{
    text-decoration: none;
    background-color: $yellow-CTA;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: fit-content;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right:20px
}
#mentorpg-btn{
    padding-top: 40px;
}

// footer.js styling
#general-footer{
    background-color: #12A67C;
    width: 100%;
    height: 100%;
}
#footer-container{
    padding:20px;
}
.logo-name{
    font-family: "Nunito", sans-serif;
    color: $white;
    font-size: 18px;
}
.logo-desc{
    font-family: "Mulish", sans-serif;
    color: $white;
    font-size: 14px;
}
.footer-col{
    font-family: "Nunito", sans-serif;
    color: $white;
    font-size: 18px;
}
.footer-links{
    font-family: "Mulish", sans-serif;
    color: $white;
    font-size: 14px;
    margin: 0px;
}
.text-reset{
    text-decoration: none;
}
.text-reset:hover{
    text-decoration: underline;
}
.copyright{
    padding:10px;
    color: $white;
    font-size: 14px;
}
.md-form{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
#form1{
    width: 300px;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 5px;
}
.pink-btn{
    font-size: 16px !important;
    border-radius: 10px;
    padding: 5px;
    background-color: $pink;
    color:$white;
}


