@import "~bootstrap/scss/bootstrap";
@import '~mdb-ui-kit/css/mdb.min.css';

body, html {
    font-family: "Montserrat", sans-serif;
    color:#161616;
    background: white;
    height: 100%;
}

// sign up org styling
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
}
#signUpSpecificContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.signUpSpecificInput{
    margin: 15px !important;
    width: 600px !important;
}
.signUpSpecificButton{
    margin: 15px !important;
    width: fit-content;
    height: fit-content;
}

// mentor.js styling
.mentor-page{
    display: flex;
    flex-direction: column;
    // margin-top: 400px;
    // margin-left: 100px;
}
.mentor-header{
    display: flex;
    flex-direction: row;
    background-color: #6F93EE;
    height:100vh;
    padding: 25px;
}
.mentor-header h1{
    margin-top: 400px;
    font-family: 'Mulish', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
}
.mentor-header h2{
    margin-top: 400px;
    font-family: 'Mulish', sans-serif;
    font-size: 0.5em;
}
#mentor-blobs{
    padding-top: 100px;
    padding-left: 300px;
}
.mentor-container{
    padding: 25px;
}
.mentor-container h1{
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: bolder;
}
.mentor-container h2{
    font-family: 'Nunito', sans-serif;
    font-size: 0.7em !important;
}
.mentor-container h3{
    font-family: 'Nunito', sans-serif;
    font-size: 0.7em;
    font-weight: bold;
}
.mentor-container h4{
    font-family: 'Mulish', sans-serif;
    font-size: 0.7em;
    font-weight: bold;
}
.mentor-container p{
    font-family: 'Mulish', sans-serif;
    font-size: 0.5em;
}

// footer.js styling
// footer{
//     padding: 0;
//     margin: 0;
// }
#general-footer{
    background-color: #12A67C;
    width: 100%;
    height: 100%;
}
#footer-container{
    padding:20px !important;
}
.logo-name{
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 18px;
}
.logo-desc{
    font-family: "Mulish", sans-serif;
    color: white;
    font-size: 14px;
}
.footer-col{
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 18px;
}
.footer-links{
    font-family: "Mulish", sans-serif;
    color: white !important;
    font-size: 14px;
    margin: 0px !important;
}
.copyright{
    padding:10px;
    color: white !important;
    font-size: 14px;
}
.md-form{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
#form1{
    width: 300px !important;
    height: 18px !important;
    border-radius: 10px;
    font-size: 14px;
}
.pink-btn{
    font-size: 16px !important;
    border-radius: 10px;
    padding: 5px;
    background-color: #d34d9d;
    color:white;
}


