body, html {
    font-family: "Roboto", sans-serif;
    background: white;
    height: 100%;
  }
  .logo {
    // background-image: url('img/MYIMG.svg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .active {
    color: pink;
  }