$primaryG:#12A67C;
$dark-green:#0E442C;
$light-green:#92C893;
$yellow-CTA:#FFB621;
$black:#323433;
$white:#F5FFFC;
$blue:#6F93EE;
$pink:#D34D9D;
*{
    font-size: 1em;
    padding: 0px;
    margin: 0px;
}
//landing page 
#landing-container{
    display:flex; 
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(./img/papaioannou-kostas-tysecUm5HJA-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: center;
}
.landingSubcontainer{
    padding-top: 50px;
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.landingSubcontainer h1{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 600;
    width: 1600px;
    text-align: center;
    color:#F5FFFC;
}
.landingSubcontainer p{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    text-align: center;
    color:#F5FFFC;
}
.yellow-btn{
    text-decoration: none;
    background-color: #FFB621;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: fit-content;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right:20px
}
// .yellowButton{
//     background-color: #FFB621;
//     border-radius: 25px;
//     padding-left: 10px;
//     padding-right: 10px;
//     font-size: 22x;
//     font-weight: 700;
//     padding-top: 0px;
//     line-height: 25px;
//     padding-bottom: 5px;
// }
// .navLinkButton{
//     text-decoration: none;
//     color:black;
//     font-family: 'Nunito', sans-serif;
//     font-weight: 700;
//     height: fit-content;
//     font-size: .5em !important;
// }
.landingLeftSubcontainer{
    margin-top: 205px;
    display: flex;
    flex-direction: row;
}
#blobs{
    padding-left: 55px;
}
#content{
    display: flex;
    flex-direction: column;
    width:60%;
}
.underlineLight{
    background-color: #92C893;
    width:400px; 
    height: 5px;
}
.underlineDark{
    background-color: #0E442C;
    width:400px; 
    height :5px;
}
.subLeft{
    margin-left: 25px;
}
.subLeft h1,h2{
    font-family: 'Nunito', sans-serif;
    margin: 0px !important;
    font-size: 40px;
}
.landingLeftSubcontainer p {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    padding-top: 25px;
}
// educate page 
#educateRowI{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#educateRowII{
    margin-left: 417px;;
}
.educateLanding{
    width: fit-content;
}
.educateLanding h1{
    font-family: 'Mulish', sans-serif;
    background-color: #6F93EE;
    padding-left: 25px;
    font-size: 1em !important;
    padding-right: 45px;

    color: #F5FFFC;
}
#educatebar{
    display: flex;
    flex-direction: row ;
}
#four.educateLanding{
    background-color: #6F93EE;
    width:75px;
    height: 60px;
    margin-left: 10px;
}
#three.educateLanding{
    background-color: #6F93EE;
    width:50px;
    height:  60px;
    margin-left: 10px;
}
#two.educateLanding{
    width:25px;
    background-color: #6F93EE;
    height:  60px;
    margin-left: 10px;
}
#one.educateLanding{
    background-color: #6F93EE;
    width:15px;
    height: 60px;
    margin-left: 10px;
}
.educateContent{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.educateContent h2{
    padding-left: 25px;
    color: #6F93EE;
    font-size: 1em;
}
.educateContent p{
    font-size: .5em;
    width: 900px;
    padding-right: 25px;

}

//sign in 

#signInOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{ 
    font-family: 'Nunito';
    font-size: 32px !important;
}
#signInContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#signInContainer h1{
    font-size: 1em;
}
.signInCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
#ending{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#ending p{ 
    font-size: 22px;
    margin-bottom: 10px;
}
.navLink{
    text-decoration: none;
    color: black;
}
.MuiCardContent-root {
    padding-bottom: 0px!important;
}
.MuiCardActions-root{
    padding-bottom: 16px !important;
}
// .MuiTypography-body1{
//     font-size: 1.5em !important;
// }
#signInSpecificConatiner{
    margin-top: 50px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sixteenpoint{
    font-size: 16px !important;
}
.signInSpecificInput{
    margin: 15px !important ;
    width: 300px !important;
}
.signInSpecificButton{
    margin: 15px !important ;
}
//signupyouth 
.inputColumns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

//org profile 
.leftBar{
    background-color: #92C893;
    height: 100vh;
    width: 30%;
}
.boldtwentyfour{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;;
}
.update{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
//signupMentor 
.radioButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
