#landing-container{
    display:flex; 
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(./img/papaioannou-kostas-tysecUm5HJA-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: center;
}
.landingSubcontainer{
    padding-top: 50px;
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.landingSubcontainer h1{
    font-family: 'Mulish', sans-serif;
    font-size: 1.3em;
    width: 1600px;
    text-align: center;
    color:#F5FFFC;
}
.landingSubcontainer p{
    font-size: .5em;
    text-align: center;
    color:#F5FFFC;
}
#signInOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#signInContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signInCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.navLink{
    text-decoration: none;
    color: black;
}
.MuiCardContent-root {
    padding-bottom: 0px!important;
}
.MuiCardActions-root{
    padding-bottom: 16px !important;
}
// .MuiTypography-body1{
//     font-size: 1.5em !important;
// }
#signInSpecificConatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signInSpecificInput{
    margin: 15px !important ;
    width: 300px !important;
}
.signInSpecificButton{
    margin: 15px !important ;
}